**Task 1** : Bubble sorting

In [ ]:
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]
l= len(my_list)
for i1 in range(0, l - 1):
    for i2 in range(0, l - i1 - 1):
        if my_list[i2] > my_list[i2 + 1]:
            temp = my_list[i2]
            my_list[i2] = my_list[i2 + 1]
            my_list[i2 + 1] = temp
print(my_list)

[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

**Task 2 :** selection sorting

In [ ]:
my_list2 =  [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]
l=len(my_list2)
for i1 in range(0, l):
    min_value = my_list2[i1]
    min_index = i1
    for i2 in range(i1, l):
        if my_list2[i2] < min_value:
            min_value = my_list2[i2]
            min_index = i2
    temp = min_value
    my_list2[min_index] = my_list2[i1]
    my_list2[i1] = temp
print(my_list2)

[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

**Task 3 :** sorting in  descending order

In [ ]:
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]
l= len(my_list)
for i1 in range(0, l - 1):
    for i2 in range(0, l - i1 - 1):
        if my_list[i2] < my_list[i2 + 1]:
            temp = my_list[i2]
            my_list[i2] = my_list[i2 + 1]
            my_list[i2 + 1] = temp
print(my_list)

[29, 20, 18, 17, 15, 14, 12, 11, 10, 6, 5, 3, 2, 2, 1]

**Task 4 :** Studen ID

In [ ]:
sitting_list = [10, 30, 20, 70, 11, 15, 22, 16, 58, 100, 12, 56, 70, 80]

even_list = []
odd_list = []
for x in range(len(sitting_list)):
    if x % 2 == 0:
        even_list.append(sitting_list[x])
    if x % 2!=0:
        odd_list.append(sitting_list[x])
even_list.sort()
odd_list.sort(reverse = True)
x=len(even_list)
y=len(odd_list)
result = []
count = 0
even_count = 0
odd_count = 0
for count in range(x+y) :
    if count % 2 == 0:
        result.append (even_list[even_count])
        even_count += 1
    else:
        result.append (odd_list[odd_count])
        odd_count += 1
    count += 1
print(result)

[10, 100, 11, 80, 12, 70, 20, 56, 22, 30, 58, 16, 70, 15]

**Task 5 :** Course Marks

In [ ]:
course_name = input("Enter Your subject: ").upper()
number_list = [["Alan", 95, 87, 91], ["Turing", 92, 90, 83], ["Elon", 87, 92, 80], ["Musk", 85, 94, 90]]
if course_name == 'CSE110':
    index = 1
elif course_name == 'PHY111':
    index = 2
elif course_name == 'MAT110':
    index = 3
l=len(number_list)
for i in range(l):
    for x in range(l- 1 - i):
        if number_list[x][index] < number_list[x + 1][index]:
            temp = number_list[x]
            number_list[x] = number_list[x + 1]
            number_list[x + 1] = temp
for y in range(len(number_list)):
    print(number_list[y][0])

Enter Your subject: mat110
Alan
Musk
Turing
Elon

**Task 6 :** position change count

In [ ]:
my_list = [4,2,3,1,6,5]
l= len(my_list)
jk=my_list.copy()
for i1 in range(0, l - 1):
    for i2 in range(0, l - i1 - 1):
        if my_list[i2] > my_list[i2 + 1]:
            temp = my_list[i2]
            my_list[i2] = my_list[i2 + 1]
            my_list[i2 + 1] = temp
new_list = my_list
count=0
for i in range(len(my_list)):
  if new_list[i] != jk[i]:
    count += 1
print(count)

4

**Task 7 :** median

In [ ]:
lis_1 = input('').strip(' ').strip('[]').replace(' ','').split(',')
lis_2 = input('').strip(' ').strip('[]').replace(' ','').split(',')
result = []
for i in lis_1:
  result.append(int(i))
for j in lis_2:
  result.append(int(j))
result.sort()

print("Sorted list", result)

if len(result) % 2 == 0:
    median = (result[int(len(result)/2)] + result[int(len(result)/2 - 1)]) / 2
    print("Median:", median)
else:
    median = result[int(len(result) / 2)]
    print("Median:", median)

[1, 2, 1, 4]
[5, 4, 1]
Sorted list [1, 1, 1, 2, 4, 4, 5]
Median: 2

**Task 8 :** sum closest to zero

In [ ]:
lis_1 =  [1, -8, 4, -7, -20, 26, 70, -85]
min = 0
flag= True
for i in range(len(lis_1)):
    for j in range(0, len(lis_1)):
        sum = (lis_1[i] + lis_1[j])
        if i == j:
            continue
        if flag:
            min = abs(sum), lis_1[i], lis_1[j]
            flag = False

        elif abs(sum) < min[0]:
            min = abs(sum), lis_1[i], lis_1[j]

print("Two pairs which have the smallest sum =", min[1], "and", min[2])

Two pairs which have the smallest sum = 4 and -7

**Task 9 :** minimum distance

In [ ]:
import math
p=[(5,3), (2,9), (-2,7), (-3,-4), (0,6), (7,-2)]
min_distance = (math.pow(p[0][0],2)+(math.pow(p[0][1],2)))**(1/2)
for i in p:
    distance=(math.pow(i[0],2)+(math.pow(i[1],2)))**(1/2)
    if distance< min_distance :
        min_distance=distance
        e=i
print('Minimum distance =',min_distance)
print('Here the closest point is {} which has a distance of {} from the origin'.format(e,min_distance))

Minimum distance = 5.0
Here the closest point is (-3, -4) which has a distance of 5.0 from the origin